# Environment
.env

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/

public/image/Bean/
public/image/herb/
public/image/luffa/
public/image/Okra/
public/image/Papaya/
public/image/Tomato/
public/image/WinterMelon/
public/image/bottle/
public/image/Cauliflower/
public/image/Cruciferous/
public/image/EdibleAmaranth/
public/image/eggplant/
public/image/Corn/

colorKsSeed.css
convert.cjs
seedFaqStories.js
Seedmongodb.js
seedBlogs.js